body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, black, white);
    background-size: cover;
}

#root {
    display: grid;
    grid-template-columns: repeat(8, 4em);
    grid-template-rows: repeat(8, 4em);
    gap: 0;
    border: 5px solid limegreen;
    max-width: 80vw;
    max-height: 80vh;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.light {
    background-color: #fff;
}

.square.dark {
    background-color: brown;
}

.piece {
    width: 80%;
    height: 80%;
}

.selected {
    border: 2px solid red;
    outline: none;
}

@media (max-width: 768px) {
    #root {
        grid-template-columns: repeat(8, 3em);
        grid-template-rows: repeat(8, 3em);
        max-width: 90vw;
        max-height: 90vh;
    }

    .piece {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 480px) {
    #root {
        grid-template-columns: repeat(8, 2em);
        grid-template-rows: repeat(8, 2em);
        max-width: 95vw;
        max-height: 95vh;
    }

    .piece {
        width: 60%;
        height: 60%;
    }
}
